<!DOCTYPE html>
<html ng-app="Portfolio">
<head>
	<title>Welcome!</title>

	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script type="text/javascript" src="http://jeweltheme.com/html/kite/default/assets/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="http://jeweltheme.com/html/kite/default/assets/js/modernizr-2.8.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascript/app.js"></script>

</head>
<body>

	<div class="main-view-container" ui-view></div>
	
</body>
</html>